* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	background-image: url(images/space.jpg);
	background-repeat: no-repeat;
	background-position: center;
}

.container {
	width: 100%;
	height: 100%;
	position: relative;
}

.imageContainer,
.textContainer,
#title {
	width: 100%;
	height: 100%;
	position: absolute;
}

#title {
	display: flex;
	justify-content: center; 
	align-items: center; 
	color: aliceblue;
}

.sunContainer {
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-100%, -100%);
	position: relative;
}

.imageContainer .sunContainer img {
	position: absolute;
	width: 400px;
	height: 400px;
	object-fit: cover;
}

.textContainer {
	width: 100%;
	height: 100%;
	position: absolute;
}

.textContainer .sunText {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -150%);
	width: 600px;
	height: 600px;
	color: aliceblue;
}

.sunText h2 {
	font-size: 2rem;
}

.sunText p {
	font-size: 1.2rem;
}
